/*@i 竊� @import url();*/
@import url(http://gonts.googleapis.com/css?family=Chango);

body {
  /* ff: font-family */
  /* ff:ss font-family: sans-serif */
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  /* bgc:*/
  background-color: #edede3;
  margin: 0;
  background-image: url(../images/back.png);
}

h1 {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
}

/* 蟆剰ｦ句�ｺ縺� */
h2 {
  clear: both;
  border-bottom: 5px solid #c39f4a;
  margin-top: 30px;
}

/* 繝ｪ繝ｳ繧ｯ */
a {
  color: #b77d3c;
}

a:hover {
  color: #f80;
}

a img {
  border: none;
}

/*縲�髢｢騾｣險倅ｺ九∈縺ｮ繝ｪ繝ｳ繧ｯ */
aside {
  border: 2px solid #d6c588;
  border-radius: 5px;
  padding: 10px;
  background-color: #edede3;
  margin-top: 40px;
}

aside h1 {
  font-family: 'Chango', cursive;
  font-size: 18px;
  color: #c39f4a;
  border-bottom: dotted 1px #c39f4a;
}

aside ul {
  list-style-image: url(images/listmark.png);
}

aside a {
  color: #000;
  text-decoration: none;
}

/* 繝翫ン繧ｲ繝ｼ繧ｷ繝ｧ繝ｳ繝｡繝九Η繝ｼ */
nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
}

nav li {
  display: inline;
  font-size: 12px;
  border-right: 1px solid #aaaaaa;
  padding-left: 10px;
  padding-right: 10px;
}

nav li:first-child {
  border-left: 1px solid #aaa;
}

nav {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: -27px;
  margin-bottom: 10px;
}

nav a {
  color: #000;
  text-decoration: none;
}

/* 險倅ｺ九�ｮ荳�隕ｧ繝壹�ｼ繧ｸ */
#posts article img {
  float: left;
  margin-right: 20px;
}

#posts article h1 {
  font-size: 24px;
}

#posts section {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#posts header {
  margin-bottom: 20px;
}

#posts time {
  font-size: 12px;
  color: #fff;
  background-color: #bdbc8f;
  border-radius: 10px;
  padding: 2px 20px 2px 20px;
}

#posts article a {
  color: #000;
  text-decoration: none;
  display: block;
  overflow: hidden;
  padding: 20px;
}

#posts article a:hover {
  background-color: #ffe792;
}

#posts article {
  padding: 0;
}

#top header {
  margin-bottom: 0;
}

#photo {
  background-image: url(../images/photo.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #3f8ad6;
  text-align: center;
  padding-top: 320px;
  padding-bottom: 80px;
}

#photo h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'Chango', cursive;
  text-shadow: 0 5px 10px #000;
}

#photo p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 5px 10px #000;
}

#photo a {
  background-color: #fa0;
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,,
      from(#ffe7b8),
      to(#fa0)
    );

  /* lg(to bottom, #ffe7b8 0, #fa0 100)*/
  background-image: -webkit-linear-gradient(#ffe7b8 0%, #fa0 100%);
  background-image: linear-gradient(#ffe7b8 0%, #fa0 100%);
  background-image: linear-gradient(
      to bottom,
      #ffe7b8 0%,
      #fa0 100%
    );
  padding: 10px 80px;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* 繧｢繝舌え繝医�壹�ｼ繧ｸ */
table, th, td {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 10px, 20px 10px 20px;
}

th {
  width: 150px;
  background-color: #ffcb63;
  -ms-text-align-last: auto;
  text-align: left;
}

td {
  width: 450px;
  background-color: #ffedce;
}

caption {
  font-weight: bold;
  background-color: #d9d8a7;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

/* 縺雁撫縺�蜷医ｏ縺帙�壹�ｼ繧ｸ */
input, textarea {
  display: block;
}

input {
  width: 400px;
}

input[type="submit"] {
  width: 200px;
  background-color: #fa0;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ffe7b8),
      to(#fa0);
    );
  background-image: -webkit-linear-gradient(
      top,
      #ffe7b8 0%,
      #fa0 100%
    );

  background-image: linear-gradient(
      to bottom,
      #ffe7b8 0%,
      #fa0 100%
    );
    border: 1px solid #aaa;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea {
  width: 600px;
  height: 120px;
}

p {
  line-height: 1.5;
}

/* 繝倥ャ繝�繝ｼ */
header {
  background-color: #ffffff;
  border-bottom: solid 1px #aaaaaa;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 7px #aaaaaa;
  box-shadow: 0 1px 7px #aaaaaa;
  padding: 5px;
}

header h1 {
  font-family: 'Chango', cursive;
  font-size: 24px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header h1 a {
  text-decoration: none;
  color: #000;
}

header h1 a:hover {
  color: #000;
}

header h1 img {
  vertical-align: -10px;
  margin-right: 5px;
}

/* 險倅ｺ� */
article, #message {
  background-color: #ffffff;
  width: 900px;
  /* mla 竊� margin-left: auto;*/
  margin-left: auto;
  margin-right: auto;
  /* bd+ 竊� border: 1px solid #000; */
  border: solid 1px #aaaaaa;
  padding: 30px;
  /* box 竊� -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 3px #aaaaaa;
  /* bxsh1-1-3-#aaa 竊� -webkit-box-shadow: 1px 1px 3px #aaa;
  box-shadow: 1px 1px 3px #aaa;*/
  box-shadow: 1px 1px 3px #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
}

/* 繝輔ャ繧ｿ繝ｼ */
footer {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* 逕ｻ蜒上ｒ荳ｭ螟ｮ縺ｫ驟咲ｽｮ縺吶ｋ繝ｬ繧､繧｢繧ｦ繝� */
figure.photo-center {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 逕ｻ蜒上ｒ蟾ｦ縺ｫ驟咲ｽｮ縺吶ｋ繝ｬ繧､繧｢繧ｦ繝� */
figure.photo-left {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

figure.photo-left img{
  width: 550px;
}

/* 逕ｻ蜒上ｒ蜿ｳ縺ｫ驟咲ｽｮ縺吶ｋ繝ｬ繧､繧｢繧ｦ繝� */
figure.photo-right {
  margin: 0;
  margin-left: 20px;
  float: right;
}

/* 繧ｻ繝ｬ繧ｯ繧ｿ繝ｼ縺ｮ轤ｹ謨ｰ縺ｯ12轤ｹ */
figure.photo-right img {
  width: 550px;
}

div em {
  color: blue;
}

em span {
  color: white;
}

div span {
  color: green;
}

.test {
  color: red;
}
