<!DOCTYPE html>
<html lang="ja">
<head th:include="common/head :: common_head" />
<body id="top">

	<header th:include="common/header :: common_header" />
	<section>
		<div id="photo">
			<h1>FOREST STUDIO</h1>
			<p>自然のあれこれをお届けする森の工房です</p>
			<a href="news.html">工房からのお知らせ</a>
		</div>
		<p id="message">Forest
			Studioは、森や自然を生かしたイベントや商品をお届けしている工房です。自然の中にある「森の工房」では、四季折々の風景を楽しんだり、森の散歩を楽しむことができます。お近くまでお越しの際は、ぜひお立ち寄りください。
		</p>
	</section>

	<footer th:include="common/footer :: common_footer" />

</body>
</html>